extends layout

block content
  h1 Books

  .header
    form.search(action="/books/search")
      input.searchIn(type="search" name="term" placeholder="Find a book")
      input.search(type="submit" value="Search")

    p.create-new-book
      a.button(href="/books/new") Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td= book.author
          td= book.genre
          td= book.year

  div.pagination
    if (!term )
      a.button(href=`/books?page=${+page - 1 }`).prev Prev 
      a.button(href=`/books?page=${+page + 1}`).next Next 